* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-header__foto {
  padding-top: 77px;
  padding-left: 10px; }
.main-header__text {
  margin-left: 75px;
  padding-top: 137px; }
.main-header__title {
  font-family: Tahoma;
  font-size: 48px;
  font-weight: 700; }
.main-header__subtitle {
  font-family: Tahoma;
  font-size: 30px;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 3px; }
.main-header__descr {
  font-family: Tahoma;
  font-size: 18px;
  font-weight: 400;
  margin-top: 35px;
  margin-right: 238px; }
.main-header__price {
  font-family: Tahoma;
  font-size: 48px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 47px; }

.button {
  padding: 22px 42px;
  border-radius: 5px;
  background-color: #f05a22;
  margin-top: 53px;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  border: 3px solid #f05a22; }

.button_o {
  margin-left: 40px;
  background-color: #fff;
  border: 3px solid #f05a22;
  color: #f05a22; }

.advantage {
  background-color: #f2f2f2; }
  .advantage_title {
    margin-top: 89px;
    color: #333333;
    font-family: Tahoma;
    font-size: 30px;
    font-weight: 700; }
  .advantage_serv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 91px;
    text-align: center;
    margin-bottom: 99px;
    margin-left: 37px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .advantage_serv__img {
    min-height: 55px; }

.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
